/**
 * StyleWriter Styles
 */

.stylewriter-swatch {
  display: inline;
}

.stylewriter-swatch-color {
  display: block;
  float: left;
  height: 20px;
  width: 2px;
}

.stylewriter-swatch-place-mid span {
  display: none;
}
