/**
 * StyleWriter Styles
 */

.stylewriter-legend {
  height:20px;
  line-height:20px;
  padding:5px;
  }

.stylewriter-value {
  padding:0px 5px;
  float:left;
  font-size:11px;
  }

.stylewriter-swatches {
  padding:0px 5px;
  float:left;
  }

.stylewriter-swatch,
.stylewriter-swatch-color {
  position:relative;
  float:left;
  display:block;
  width:5px;
  height:20px;
  }

.stylewriter-swatch-color {
  position:absolute;
  bottom:0px;
  left:0px;
  }

.stylewriter-swatch-color-dist-0 { height: 5%; }
.stylewriter-swatch-color-dist-01 { height: 10%; }
.stylewriter-swatch-color-dist-02 { height: 20%; }
.stylewriter-swatch-color-dist-03 { height: 30%; }
.stylewriter-swatch-color-dist-04 { height: 40%; }
.stylewriter-swatch-color-dist-05 { height: 50%; }
.stylewriter-swatch-color-dist-06 { height: 60%; }
.stylewriter-swatch-color-dist-07 { height: 70%; }
.stylewriter-swatch-color-dist-08 { height: 80%; }
.stylewriter-swatch-color-dist-09 { height: 90%; }
.stylewriter-swatch-color-dist-1  { height: 100%; }
